// colors
$color--dark: #111111;
$color--light: #FFFFFF;
$color--main-blue: #000363;

// screen sizes
$medium: 769px;
$large: 1201px;
$x-large: 1440px;

// padding

$padding-xs: 8px;
$padding-s: 16px;
$padding-m: 24px;
$padding-l: 40px;
